package-lock=false

# npm 镜像
registry=https://registry.npmmirror.com

# 公司内部镜像
@mediinfo-ued:registry=http://172.19.30.181:8081/repository/npm-main/
@mediinfo-bmis:registry=http://172.19.30.181:8081/repository/npm-main
@mdfe:registry=http://172.19.30.181:8081/repository/npm-main/


