.text-center {
  text-align: center;
}

// flex布局
.flex-box {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// 字体
.t-12 {
  font-size: 12px;
}
.t-14 {
  font-size: 14px;
}
.t-16 {
  font-size: 16px;
}
.t-18 {
  font-size: 18px;
}
.t-20 {
  font-size: 20px;
}
.t-22 {
  font-size: 22px;
}

// 外边距
.margin-4 {
  margin: 4px;
}
.margin-10 {
  margin: 10px;
}
.margin-left-4 {
  margin: 4px;
}
.margin-left-10 {
  margin: 10px;
}
.margin-right-4 {
  margin: 4px;
}
.margin-right-10 {
  margin: 10px;
}
.margin-top-4 {
  margin: 4px;
}
.margin-top-10 {
  margin: 10px;
}
.margin-bottom-4 {
  margin: 4px;
}
.margin-bottom-10 {
  margin: 10px;
}

// 内边距
.padding-4 {
  padding: 4px;
}
.padding-10 {
  padding: 10px;
}
.padding-left-4 {
  padding: 4px;
}
.padding-left-10 {
  padding: 10px;
}
.padding-right-4 {
  padding: 4px;
}
.padding-right-10 {
  padding: 10px;
}
.padding-top-4 {
  padding: 4px;
}
.padding-top-10 {
  padding: 10px;
}
.padding-bottom-4 {
  padding: 4px;
}
.padding-bottom-10 {
  padding: 10px;
}

.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
